html {
  /* reset default font-size to 10px for easier calculations (62.5% of 16px [browser default] = 10px) */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-height: 100dvh;
  background-color: var(--color-white);
  color: var(--color-black);

  /* set default font-size to 1.6rem to negate the reset above */
  font-size: 1.6rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-body);
  text-rendering: optimizeSpeed;
  text-wrap: balance;
}

img,
picture {
  display: block;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 1ms !important;
    scroll-behavior: auto !important;
  }
}
