[class^="grid-"] {
  display: grid;
  column-gap: var(--spacing-l);
  row-gap: var(--spacing-s);
}

.grid-triple {
  grid-template-columns: 1fr 2fr 45%;
}

.grid-even {
  grid-template-columns: 1fr 45%;
}
