:root {
  /* typography */
  --font-family: Outfit, -apple-system, blinkmacsystemfont, 'Roboto',
    'Helvetica Neue', sans-serif;

  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* colors */
  --color-black: #000000;
  --color-gray: #3e3e3e;
  --color-white: #FCF8EE;
  --color-blue: #003B7A;

  /* spacings */
  --spacing-s: 15px;
  --spacing-m: 25px;
  --spacing-l: 50px;
  --spacing-xl: 80px;
  --spacing-xxl: 110px;
  --spacing-xxxl: 150px;

  /* sizes */
  --size-site-max: 1100px;
}
